
<!-- Title and instructions -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9">
            <h1 class="text-center">Recipe Search</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9">
            <h3 class="text-center">Input two to three ingredients and we'll find a recipe for you!</h3>
        </div>
    </div>

    <!-- ingredient form -->
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="/" method="post" class="search_form">
                <label for="ingredient1" class="form-label">Ingredient 1*</label>
                <input type="text" class="ingredient form-control" id="ingredient1" name="ingredient1" required>
                <br>
                <label for="ingredient2" class="form-label">Ingredient 2*</label>
                <input type="text" class="ingredient form-control" id="ingredient2" name="ingredient2" required>
                <br>
                <label for="ingredient3" class="form-label">Ingredient 3</label>
                <input type="text" class="ingredient form-control" id="ingredient3" name="ingredient3">
                <br>
                <input type="hidden" class="searchHistoryInput" name="searchHistoryInput">
                <input type="submit" id="submit" class="form-control btn btn-primary">
            </form>
        </div>

        <!-- Search History -->
        <div class="col-4">
            <h4 class="text-center">Search History</h4>
            <div id="searchHistory" class="d-grid gap-2">
                <% if (searchHistory) { %>
                    <% searchHistory.forEach( (item) => { %>

                        <form action="/" method="post" class="text-center search_form">
                            <input type="hidden" name="ingredient1" value="<%=item.ing1%>">
                            <input type="hidden" name="ingredient2" value="<%=item.ing2%>">
                            <input type="hidden" name="ingredient3" value="<%=item.ing3%>">
                            <input type="hidden" class="searchHistoryInput" name="searchHistoryInput">
                            <input type="submit" class="historyItem btn btn-secondary" value="<%=item.combinedSearch%>">
                        </form>

                    <% }); %>
                <% } %>
            </div>

        </div>
    </div>
</div>
<br>

<!-- results -->
<div class="row justify-content-center">
    <div class="col-9">
        <h3 class="text-center"><%=searchMessage%></h3>
    </div>
</div>

<div class="row  justify-content-center">
    <div class="accordion col-9" id="accordion" >

        <% if (recipeTitles) { %>
            <% recipeTitles.forEach( (recipe) => { %>
            <div class="card">
                <!-- title -->
                <div class="card-header">
                    <a class="btn text-center" data-bs-toggle="collapse" href="#<%=recipe.selector%>">
                        <p class="h3" style="color:#135ca5"><%=recipe.title%></p>
                    </a>
                </div>

                <!-- info -->
                <div id="<%=recipe.selector%>" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <h3>Ingredients</h3>
                                <ul class="list-unstyled">
                                    <% recipe.ingredientList.forEach( (ingredient) => { %>
                                        <li><%=ingredient%></li>
                                    <% }) %>
                                </ul>
                            </div>
                            <div class="col-8">
                                <h3>Directions</h3>
                                <ol>
                                    <% recipe.directionList.forEach( (direction) => {%>
                                        <li><%=direction%></li>
                                    <% }) %>
                                </ol>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <p>Source: </p>
                                <a href="<%=recipe.url%>" target="_blank"><%=recipe.url%></a>
                            </div>
                            <div class="col-8">
                                <img src="<%=recipe.image%>" class="img-fluid" alt="<%=recipe.imageTitle%>" style="width: 600px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% });%>
        <% } %>

    </div>
</div>

<script src="./js/home.js"></script>